[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
0-22-2 = "*"
sklearn = "*"
pyldavis = "*"
pyldavis-enable-notebook = "*"

[requires]
python_version = "3.7"
